.main-title {
  color: #009c79;
}

.sub-title {
  color: #86888f;
}

.sub-title:hover {
  color: #0ec254;
}

.chart {
  height: 80vh;
  background: white;
  margin-bottom: 40px;

  padding-left: 20px;
  padding-right: 20px;

  transition: 0.3s;
}

.graphic {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.graphic:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
